<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Company
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <form class="p-3 col-12 ion-margin-horizontal" [formGroup]="formGroup" #thisForm="ngForm"(ngSubmit)="submitForm(formGroup)" novalidate>
    <div>&nbsp;</div>
    <ion-input formControlName="code" label="Code" label-placement="floating" fill="outline" required placeholder="Enter text"></ion-input>
    <div>&nbsp;</div>
    <ion-input formControlName="name" label="Name" label-placement="floating" fill="outline" required placeholder="Enter text"></ion-input>
    <div>&nbsp;</div>
    <ion-input formControlName="description" label="Description" label-placement="floating" fill="outline" required placeholder="Enter text"></ion-input>
    <div>&nbsp;</div>
    <ion-toggle formControlName="status">Status</ion-toggle><br /><br />
    <ion-button type="submit" expand="block">Submit</ion-button>
  </form>
</ion-content>